.container{
    width: 400px;
    height: auto;
    padding: 15px;
}
.border-round, .calc button{
    border-radius: 10px;
}
.bg-grey{
    background-color: #eaecf3;
}
.bg-white {
    background-color: #fff;
}
.bg-blue{
    background-color: #4f6ef2;
}
.bg-orange {
    background-color: #ffbc42;
}
.font-size-small, .calc button{
    font-size: 20px;
}
.font-size-big {
    font-size: 40px;
}
.white {
    color: #fff;
}
.text-align-right{
    padding-right: 5px;
    text-align: right;
}
.calc{
    text-align: center;
    margin-top: 10px;
}
.calc button{
    width: 70px;
    height: 40px;
    margin: 10px 10px;
    border-style: none;
}